# Global
TZ=Europe/Dublin
PUID=1000
PGID=1002

# VPN & TORRENTS
VPN_USERNAME=your_vpn_email
VPN_PASSWORD=your_vpn_password
VPN_PROVIDER=your_vpn_provider
VPN_CONFIG=your_vpn_config
TR_USER=your_transmission_user
TR_PASS=your_transmission_password
LOCAL_NETWORK=192.168.1.0/24

# Neko
NEKO_WEBRTC_NAT1TO1=host_ip
NEKO_USER_PASSWORD=your_user_password
NEKO_ADMIN_PASSWORD=your_admin_password

# INFRA SECRETS
NETDATA_TOKEN=your_netdata_claim_token
HOMEPAGE_ALLOWED_HOSTS=your_list_of_addresses

# PATHS
APPDATA_PATH=your_path_to_apps
DOWNLOADS_PATH=your_path_to_downloads