# Global Settings
PUID=1000
PGID=1000
TZ=Europe/Dublin
APP_PATH=path_to_apps

# Discord
DISCORD_TOKEN=your_discord_token

# Mumble
MUMBLE_SERVER_PWD=your_server_password
MUMBLE_SUPER_PWD=your_superuser_password

# Rust
RUST_RCON_PWD=your_rcon_password

# Minecraft
MC_RCON_PWD=your_rcon_password
MC_OPS=your_username

# Minecraft bedrock
MC_BEDROCK_IP=your_static_ip
MC_BEDROCK_MAC=your_mac_addr

# OpenSSH
SSH_USER=master
SSH_PWD_FILE=path_to_master_pwd

# Palworld
PALWORLD_PWD=your_admin_password