# Global
TZ=Europe/Dublin
PUID=1000
PGID=1002

# Media Secrets
PLEX_CLAIM_TOKEN=claim-your-token-here
DISCORD_TOKEN=your_token
SONARR_API_KEY=your_api_key
RADARR_API_KEY=your_api_key

# Immich
DB_PASSWORD=Heyah1234
DB_USERNAME=postgress
UPLOAD_LOCATION=you_path_to_immich
IMMICH_KIOSK_KEY=your-kiosk-api-key
IMMICH_EXTERNAL_URL=https://immich.yourdomain.com
IMMICH_KIOSK_ALBUMS=your-album-uuid-here

# Paths
APPDATA_PATH=your_path_to_apps
MEDIA_PATH=your_path_to_media
DOWNLOADS_PATH=your_path_to_downloads